<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceBook helpdesk</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="https://kit.fontawesome.com/1277cef597.js" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <div class="main">
            <div class="dash">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../images/Press-Inverted-Icon.jpg" width="50px" height="50px" style="margin-top: 10px; margin-left: 13px;" alt="">
                        </a></img></li>
                    <li><a href="#"><i class="fa fa-inbox"></a></i></li>
                    <li><a href="#"><i class="fas fa-user-friends"></a></i></li>
                    <li><a href="#"><i class="fas fa-chart-line"></a></i></li>

                </ul>
                <div class="user-profile">
                    <img src="../images/IMG-20200904-WA0006.jpg" alt="">
                </div>
            </div>
            <!-- user list -->
            <div class="wrapper">
                <header>
                    <div class="content">
                        <div class="details">
                            <i class="fa fa-bars"></i>
                            <span>Conversations</span>
                            <i class="fas fa-redo"></i>
                        </div>
                    </div>
                </header>

                <section class="users">
                    <div class="users-list">
                        <a href="#">
                            <div class="content">
                                <img src="../images/IMG-20201009-WA0055.jpg" alt="">

                                <div class="details">
                                    <span>Shobhit</span>
                                    <p style="font-weight: 400; font-size: smaller; color: black;">Facebook DM</p>
                                    <p style="font-weight: 500; color: black;" >Awesome Product</p>
                                    <p>Hey there! I found Product it was...</p>
                                </div>
                            </div>


                        </a>
                        <a href="#">
                            <div class="content">
                                <img src="../images/IMG-20190511-WA0053.jpg" alt="">
                                <div class="details">
                                    <span>Akash</span>
                                    <p style="font-weight: 400; font-size: smaller; color: black;">FB Post</p>
                                    <p style="font-weight: 500; color: black;" >Avalable in store</p>
                                    <p>Hey do you have any t-shit ava...</p>
                                </div>
                            </div>


                        </a>
                       
                       
                    </div>
                </section>
            </div>
            <!-- chat area -->
            <div class="wrapper">
                <header>
                    <img src="../images/IMG-20190511-WA0053.jpg" alt="">
                    <div class="details">
                        <span>Akash</span>

                    </div>
                </header>
                <section class="chat-area">

                    <div class="chat-box">
                        
                        <div class="chat incoming">
                            <img src="../images/IMG-20190511-WA0053.jpg" alt="">
                            <div class="details">
                                <p>Is itin stock right now ?</p>
                            </div>
                        </div>
                        <div class="chat outgoing">
                            <div class="details">
                                <p>We've 3 stocks left</p>
                            </div>
                        </div>
                        
                        
                        <div class="chat outgoing">
                            <div class="details">
                                <p>If you order before 8PM we can ship today</p>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    <form action="#" class="typing-area">
                        <input type="text" placeholder="Type your mess here...">
                        <button><p>Send</p></button>
                    </form>
                </section>
            </div>
            <div class="wrapper">
                <section>
                    <div class="profile">
                        <img src="../images/IMG-20190511-WA0053.jpg" alt="">
                        <div class="profile-name"><span>Akash</span></div>
                        <p style="margin-bottom: 7px;">online</p>
                        <div class="call">
                            <a href="#"><i class="fas fa-phone-alt"></i> Call  </a>
                            <a href="#"><i class="fas fa-user-circle"></i>Profile</a>
                        </div>
                        
                    </div>
                </section>
                <div class="customer">
                    <span>Customer details</span>
                    <div class="cus-detail">
                        <div>
                        <p>Email</p>
                        <p style="padding-left: 150px;">xyz@gmail.com</p>
                        </div>
                        <div>
                        <p>First Name</p>
                        <p style="padding-left: 130px;" >Akash Yadav</p>
                        </div>
                        <div>
                        <p>Last Name</p>
                        <p style="padding-left: 175px;" >Yadav</p>
                        </div>
                        <p><a href="#">View more details</a></p>
                    </div>

                </div>
            </div>
        </div>

    </section>
</body>

</html>